<header>
    <section>
            <div class="navbar-container padding ">
                <nav>
                    <ul class="flex-group center">
                        <li class="flex-item"><a href="/">Front</a></li>
                        <li class="flex-item"><a href="/blog">Blog</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </section>
</header>